#/lib/systemd/system
[Unit]
 Description=Aupli.SplashScreen
 DefaultDependencies=no

[Service]
 Type=simple
 WorkingDirectory=/home/pi/Aupli.SplashScreen
 ExecStart=/usr/local/bin/dotnet /home/pi/Aupli.SplashScreen/Aupli.SplashScreen.dll

[Install]
 WantedBy=sysinit.target